@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Tektur:wght@400;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  color: white !important;
  background-image: radial-gradient(
    circle 815px at 23.4% -21.8%,
    #092155 0.2%,
    #000000 100.2%
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
